.page {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  flex-direction: column;

  .topBar {
    width: 100%;
    height: 8vh;
    background-color: #04395a;
    display: flex;

    .logo {
      width: 10%;
      height: 100%;
      display: flex;
      align-items: center;
      background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100%;
      cursor: pointer;
    }

    .sections {
      width: 80%;
      height: 100%;
      background-color: #04395a;
      display: flex;
      align-items: center;
      justify-content: right;
      gap: 2.1vw;

      .section {
        height: 100%;
        align-items: center;
        display: flex;
        text-align: center;
        justify-content: center;

        a {
          text-decoration: none;
          color: white;
          font-family: DiscoverRegular;
          transition: 200ms linear;

          &:hover {
            cursor: pointer;
            color: #00ac58;
            transition: 200ms linear;
            transform: scale(1.1);
          }
        }
      }
    }
  }

  .vencedores {

    width: 100vw;
    height: 80vh;
    background-color: #04395a;
    display: flex;
    align-items: top;
    justify-content: top;
    text-align: center;
    flex-direction: column;

    .titulo {
      margin-top: 20px;
      margin-bottom: 20px;
      span {
        font-family: DiscoverRegular;
        color: rgb(255, 255, 255);
        font-size: 60px;
        font-weight: bold;
      }
    }

    .all {
      width: 100%;
      height: 45vh;
      display: flex;
    }

    .foto {
      width: 50%;
      height: 55vh;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;

      .card {
        width: 90%;
        height: 80%;
        background-color: white;
        border-radius: 12px;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition: 200ms linear;

        &:hover {
          transform: scale(1.05);
          transition: 200ms linear;
        }

        .fotoCard {
          width: 98%;
          height: 96%;
          background-color: blue;
          border-radius: 11px;
          background-image: url(../assets/img/vencedores.jfif);
          background-position: center;
          background-size: cover;
        }
      }
    }

    .descricao {
      width: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .tematica1 {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .tituloTematica {
          width: 100%;
          height: auto;
          margin-top: 3rem;
        
          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: bold;
          }
        }

        .lugar1 {
       

          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 20px;
          }
        }

        .lugar2 {
         
          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 20px;
          }
        }
      }

      .tematica2 {
        width: 100%;
        height: auto;
        display:flex;
        flex-direction: column;
        gap: 1rem;
        margin-top: 1rem;
        align-items: center;
        justify-content: center;
        .tituloTematica {
          width: 100%;
          height: auto;

          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 30px;
            font-weight: bold;
          }
        }

        .lugar1 {
          width: 100%;

          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 20px;
          }
        }

        .lugar2 {
          width: 100%;
          span {
            font-family: DiscoverRegular;
            color: rgb(255, 255, 255);
            font-size: 20px;
          }
        }
      }
    }
  }

  .banner {
    background-image: url(../assets/img/background.png);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;
    justify-content: center;

    .inscription {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 58vh;
      gap: 1rem;

      button {
        font-family: DiscoverRegular;
        font-size: 16px;
        background-color: #ff0000;
        border: none;
        width: 180px;
        height: 46px;
        border-radius: 30px;
        box-shadow: 0 8px 16px rgba(26, 164, 206, 0.75);
        color: white;
        transition: 200ms linear;

        &:hover {
          transform: scale(1.1);
          cursor: pointer;
          transition: 200ms linear;
          background-color: #960c0c;
        }
      }

      .about {
        width: 100%;
        height: 10%;

        span {
          font-family: DiscoverRegular;
          color: white;
          font-size: 20px;
          font-style: italic;
        }
      }
    }
  }

  .aboutHack {
    width: 100%;
    height: 74vh;

    padding-top: 4.4vh;
    background: rgb(0, 172, 89);
    background: radial-gradient(
      circle,
      rgba(0, 172, 89, 0.711922268907563) 0%,
      rgba(0, 172, 89, 1) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 160px 160px 160px 160px rgba(172, 203, 212, 100);

    .divFigure {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: right;
      padding-right: 2%;
      padding-left: 15%;
      text-align: center;

      .figure {
        width: 100%;
        height: 100%;
        background-image: url(../assets/img/programmer.png);
        background-size: 70%;
        background-position: center;
        background-repeat: no-repeat;
        transition: 400ms linear;

        &:hover {
          transform: translateY(-20px);
          transition: 400ms linear;
        }
      }
    }

    .aboutTheHack {
      width: 55%;
      padding-left: 2%;
      height: 100%;
      display: flex;
      align-items: left;
      flex-direction: column;
      padding-right: 15%;
      gap: 1.8vh;
      align-items: center;

      .title {
        width: 100%;

        display: flex;
        align-items: left;

        h3 {
          font-family: DiscoverRegular;
          font-size: 60px;
          color: #032d47;
        }
      }

      .body {
        width: 100%;
        display: flex;
        text-align: left;
        font-size: 2vh;
        flex-direction: column;
        gap: 2.5vh;
        justify-content: center;

        .text {
          margin-bottom: 20px;
          display: flex;
          width: 100%;

          margin-bottom: 50px;

          span {
            font-family: DiscoverLight;
            font-size: 20px;
            color: white;
            font-weight: bold;
          }
        }

        .line {
          display: flex;
          margin-bottom: 3%;
          width: 100%;
          height: 18%;
          height: fit-content;
          align-items: center;
          line-height: 23px;

          fa-icon {
            color: #04395a;
            margin-right: 8px;
            font-size: 20px;
          }

          span {
            font-family: DiscoverLight;
            font-weight: bold;
            color: white;
          }
        }
      }
    }
  }

  #prize {
    display: flex;
    align-items: center;
    font-family: DiscoverRegular;
    font-weight: bold;
    width: 100%;
    height: 36rem;
    margin-top: 2%;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    flex-direction: column;
    background: rgb(255, 255, 255);
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.8911939775910365) 14%,
      rgba(212, 205, 172, 1) 100%
    );

    .prizeTitle {
      width: 100%;
      height: 15%;
      margin-bottom: 2%;

      .title {
        font-size: 3.6rem;
        color: #e4b636;
        padding-block: 1%;
        font-weight: bolder;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;

        .celebration {
          width: 5rem;
          height: auto;
        }
      }
    }

    .divFigures {
      width: 100%;
      height: 85%;
      display: flex;

      .leftPrize {
        width: 40%;
        height: 100%;
        background-image: url(../assets/img/holofotes.png);
        background-size: 482px;
        background-repeat: no-repeat;
        background-position: top;

        .man {
          position: relative;
          top: 55.6%;
          left: 43.5%;
          width: 100px;
          height: 200px;
          background-image: url(../assets/img/winner.png.png);
          background-repeat: no-repeat;
          background-position: center;
          background-size: 70px;
        }
      }

      .rightPrize {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .subTitle {
          color: #04395a;
          font-weight: bolder;
          font-size: 1.8rem;
          margin-top: 2%;
          padding-left: 5%;
          padding-bottom: 2%;
        }

        .prizes {
          font-family: DiscoverRegular;
          font-weight: normal;
          color: #7e5f5f;
          font-size: 1.3rem;
          width: 50%;
          margin-top: 2%;
          border-radius: 12px;
          margin-left: 5%;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
          padding-top: 2%;
          display: flex;
          flex-direction: row;
          align-items: center;
          text-align: center;
          justify-content: center;
          background-color: white;
          transition: 200ms linear;
          z-index: 10;

          &:hover {
            transform: scale(1.02);
            transition: 200ms linear;
            cursor: pointer;
          }

          .secondTheme {
            margin-right: 2rem;
          }

          .prize {
            padding-bottom: 6%;
          }
        }
      }
    }
  }

  .moreAbout {
    width: 100%;
    height: 970px;
    background: rgb(11, 46, 68);
    background: linear-gradient(
      90deg,
      rgba(11, 46, 68, 1) 0%,
      rgba(53, 169, 203, 1) 100%
    );
    display: flex;
    align-items: top;
    justify-content: top;
    text-align: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-image: url(../assets/img/web2.png);

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 2%;

      span {
        font-size: 50px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #ffffff;
      }
    }

    .lineItens {
      width: 100%;
      height: 15%;
      display: flex;
      align-items: center;
      justify-content: center;

      .item {
        width: 10%;
        height: 100%;
        border-radius: 16px;
        margin-right: 2%;
        margin-left: 2%;
        background-color: #00ac58;
        transition: 200ms linear;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;

        &:hover {
          transition: 200ms linear;
          transform: translateY(-20px);
          cursor: pointer;
        }

        .body {
          position: relative;
          bottom: 7%;
          right: 5%;
          background-color: #fefefe;
          width: 100%;
          height: 100%;
          border-radius: 14px;

          .line {
            border: 2px solid #80b759;
            width: 100%;
            height: 100%;
            border-radius: 16px;
            position: relative;
            bottom: 8%;
            right: 6%;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;

            span {
              color: #032d47;
              font-size: 50px;
              font-weight: bold;
              font-family: DiscoverRegular;
            }

            .point {
              position: absolute;
              top: 125%;
              left: 54%;
              width: 16px;
              height: 16px;
              background-color: #80b759;
              border-radius: 50%;
              box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            }
          }
        }
      }
    }

    .aboutDate {
      margin-top: 2%;
      width: 100%;
      height: 50%;
      display: flex;
      align-items: top;
      text-align: center;
      justify-content: center;
      background-image: url(../assets/img/appCortado.png);
      background-repeat: no-repeat;
      background-position: right;

      .cardAbout {
        margin-top: 2%;
        background: radial-gradient(
          circle,
          rgba(0, 93, 233, 0.712) 0%,
          rgb(41 127 153 / 52%) 100%
        );

        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        border-radius: 20px;
        width: 60%;
        height: 94%;
        display: flex;
        flex-direction: column;
        transition: 200ms linear;

        &:hover {
          transform: scale(1.03);
          transition: 600ms linear;
        }

        .titleAboutDate {
          width: 100%;
          height: 15%;
          margin-top: 1%;
          display: flex;
          text-align: center;
          align-items: center;
          justify-content: center;

          span {
            font-size: 24px;
            font-weight: bold;
            font-family: DiscoverRegular;
            color: #ffffff;
          }
        }

        .bodyAboutDate {
          width: 100%;
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: top;
          flex-direction: column;

          .local {
            width: 100%;
            height: 10%;
            margin-block: 2rem;
            span {
              font-size: 20px;
              font-weight: bold;
              font-family: DiscoverRegular;
              color: rgb(214, 214, 214);
            }
          }

          .lineAboutDate {
            width: 80%;
            height: 16%;
            display: flex;
            text-align: left;
            align-items: center;
            justify-content: center;

            .icon {
              width: 5%;
              height: 100%;
              align-items: center;
              justify-content: center;
              text-align: center;
              display: flex;

              fa-icon {
                color: white;
              }
            }

            .textAboutDate {
              width: 95%;
              height: 100%;
              display: flex;
              text-align: left;
              align-items: center;
              justify-content: left;

              span {
                color: white;
                font-size: 18px;
                font-weight: bold;
                font-family: DiscoverLight;
              }
            }
          }
        }
      }
    }
  }

  .goals {
    width: 100%;
    height: 420px;
    background: rgb(4, 57, 90);
    background: radial-gradient(
      circle,
      rgba(4, 57, 90, 0.865983893557423) 0%,
      rgba(15, 85, 129, 1) 97%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;

    .titleGoals {
      width: 100%;
      height: 32%;
      margin-top: 3%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 2%;

      span {
        font-size: 60px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #bfd1dd;
      }
    }

    .textGoals {
      width: 70%;
      height: 70%;

      span {
        font-weight: bold;
        font-family: DiscoverLight;
        font-size: 21px;
      }

      .lastText {
        font-style: italic;
        color: #032d47;
      }
    }
  }

  .carrouselContainer {
    width: 100%;
    height: 37rem;
    background: radial-gradient(
      circle,
      rgba(0, 201, 104, 0.712) 0%,
      rgb(0, 196, 101) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;

    .mainItens {
      width: 100%;
      height: 600px;
      display: flex;

      .mainCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        width: 40%;
        height: 100%;

        .title {
          width: 100%;
          height: 25%;
          background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
          background-size: contain;
          background-repeat: no-repeat;
          background-size: contain;
          background-position: center;
        }

        .text {
          width: 70%;
          height: 75%;
          display: flex;
          text-align: center;

          span {
            font-size: 1.4vw;
            font-weight: bold;
            font-family: DiscoverLight;
            color: #ffffff;
          }
        }
      }

      .carrousel {
        padding-right: 3%;
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px;

        .card {
          height: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          width: 100%;

          .cardTitle {
            display: flex;
            align-items: center;
            justify-content: center;
            background-position: center;
            height: 10rem;
            background-size: contain;
            width: 50%;
            background-repeat: no-repeat;
            display: flex;
            align-items: center;
            justify-content: center;
          }

          .cardBody {
            margin-top: 10px;
            text-align: center;
            height: 60%;
            display: flex;
            padding-inline: 5%;
            align-content: center;
            justify-content: center;
            align-items: center;
            font-size: 1.4rem;
            font-family: DiscoverRegular;
            color: #ffffffb4;
            font-weight: bold;
          }
        }
      }
    }
  }

  .supporters {
    width: 100%;
    height: 800px;
    background: rgb(0, 172, 89);
    background: radial-gradient(
      circle,
      rgba(0, 172, 89, 0.711922268907563) 0%,
      rgb(41, 127, 153) 100%
    );
    flex-direction: column;
    display: flex;
    align-items: center;

    .title {
      width: 100%;
      height: 20%;
      display: flex;
      text-align: center;
      align-items: center;
      justify-content: center;
      margin-bottom: 1%;

      span {
        font-size: 50px;
        font-weight: bold;
        font-family: DiscoverRegular;
        color: #032d47;
      }
    }

    .divSuporters {
      width: 100%;
      height: 95%;
      align-items: center;
      justify-content: flex-start;
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      .divSuportersItens {
        width: 100%;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;

        .supporter1 {
          width: 19%;
          height: 70%;
          margin-right: 1%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;

          .image {
            width: 100%;
            height: 80%;
            background-color: rgb(255, 255, 255);
            background-image: url(../assets/img/FAZU.png);
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            transition: 400ms linear;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover {
              transform: translateY(-20px);
              transition: 400ms linear;
              cursor: pointer;
            }
          }
        }

        .supporter2 {
          width: 19%;
          height: 70%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;

          .image {
            width: 100%;
            height: 80%;
            background-color: rgba(236, 236, 236, 0.534);
            background-image: url(../assets/img/parque.png);
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: 300px;
            background-position: center;
            transition: 400ms linear;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
              rgba(0, 0, 0, 0.12) 0px -12px 30px,
              rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px,
              rgba(0, 0, 0, 0.09) 0px -3px 5px;

            &:hover {
              transform: translateY(-20px);
              transition: 400ms linear;
              cursor: pointer;
            }
          }
        }

        .supporter3 {
          width: 31%;
          height: 70%;
          margin-left: 1%;
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;
          justify-content: center;
          margin-inline: 22rem;

          .image {
            width: 100%;
            height: 80%;
            background-color: rgba(236, 236, 236, 0.534);
            background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
            background-repeat: no-repeat;
            border-radius: 10px;
            background-size: contain;
            background-position: center;
            background-size: cover;
          }
        }
      }

      .foot {
        position: relative;
        bottom: -30%;
        width: 100%;
        height: 15%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;

        .footItens {
          width: 80%;
          height: 100%;
          border-top: 1px solid rgba(255, 255, 255, 0.411);
          display: flex;
          padding-top: 1%;

          .uby {
            width: 33%;
            height: 100%;

            span {
              color: white;
              font-family: DiscoverRegular;
            }
          }

          .russianCorp {
            width: 68%;
            height: 100%;
            display: flex;
            text-align: right;

            .text {
              width: 50%;
              height: 100%;
              padding-right: 2%;

              span {
                color: white;
                font-family: DiscoverRegular;
              }
            }

            .figure {
              width: 30%;
              height: 100%;
              background-image: url(../assets/img/russianCorp.png);
              background-repeat: no-repeat;
              background-position: top;
              background-size: 20%;
              background-size: contain;
            }
          }

          .socialMedias {
            width: 35%;
            height: 100%;
            display: flex;
            gap: 1%;

            .instagram {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/instagram.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .facebook {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/facebook.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .youtube {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/youtube.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .linkedin {
              width: 35%;
              height: 43%;
              background-image: url(../assets/img/linkedin.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }

            .gupy {
              width: 60%;
              height: 48%;
              background-image: url(../assets/img/gupy.png);
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              transition: 200ms linear;

              &:hover {
                cursor: pointer;
                transform: scale(1.1);
                transition: 200ms linear;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1200px) {
  .page {
    .topBar {
      .logo {
      }

      .sections {
        .section {
          a {
            &:hover {
            }
          }
        }
      }
    }

    .banner {
      background-size: cover;
      background-position: center;
      .inscription {
        button {
          &:hover {
          }
        }

        .about {
          span {
          }
        }
      }
    }

    .aboutHack {
      height: 100vh;

      .divFigure {
        .figure {
          &:hover {
          }
        }
      }

      .aboutTheHack {
        .title {
          h3 {
          }
        }

        .body {
          gap: 0;
          font-size: 2.2vh;
          .text {
            margin-bottom: 0;
            span {
              font-size: 2.6vh;
              margin-bottom: 2vh;
            }
          }

          .line {
            fa-icon {
            }

            span {
            }
          }
        }
      }
    }

    #prize {
      .prizeTitle {
        .title {
          .celebration {
          }
        }
      }

      .divFigures {
        .leftPrize {
          .man {
          }
        }

        .rightPrize {
          .subTitle {
          }

          .prizes {
            width: 50vw;
            &:hover {
            }

            .secondTheme {
            }

            .prize {
            }
          }
        }
      }
    }

    .moreAbout {
      background-position: -43% 7%;

      .title {
        span {
        }
      }

      .lineItens {
        .item {
          &:hover {
          }

          .body {
            .line {
              span {
              }

              .point {
              }
            }
          }
        }
      }

      .aboutDate {
        .cardAbout {
          &:hover {
          }

          .titleAboutDate {
            span {
            }
          }

          .bodyAboutDate {
            .local {
              span {
              }
            }

            .lineAboutDate {
              .icon {
                fa-icon {
                }
              }

              .textAboutDate {
                span {
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 1500px) {
  .page {
    .topBar {
      .logo {
      }

      .sections {
        .section {
          a {
            &:hover {
            }
          }
        }
      }
    }

    .banner {
      background-size: cover;
      background-position: center;
      .inscription {
        button {
          &:hover {
          }
        }

        .about {
          span {
          }
        }
      }
    }

    .aboutHack {
      height: 72vh;

      .divFigure {
        .figure {
          &:hover {
          }
        }
      }

      .aboutTheHack {
        .title {
          h3 {
          }
        }

        .body {
          .text {
            span {
            }
          }

          .line {
            fa-icon {
            }

            span {
            }
          }
        }
      }
    }

    #prize {
      .prizeTitle {
        .title {
          .celebration {
          }
        }
      }

      .divFigures {
        .leftPrize {
          .man {
          }
        }

        .rightPrize {
          .subTitle {
          }

          .prizes {
            width: 30vw;
            &:hover {
            }

            .secondTheme {
            }

            .prize {
            }
          }
        }
      }
    }

    .moreAbout {
      background-position: -19% 1%;
      background-size: 81vh;

      .title {
        span {
        }
      }

      .lineItens {
        .item {
          &:hover {
          }

          .body {
            .line {
              span {
              }

              .point {
              }
            }
          }
        }
      }

      .aboutDate {
        .cardAbout {
          &:hover {
          }

          .titleAboutDate {
            span {
            }
          }

          .bodyAboutDate {
            .local {
              span {
              }
            }

            .lineAboutDate {
              .icon {
                fa-icon {
                }
              }

              .textAboutDate {
                span {
                }
              }
            }
          }
        }
      }
    }

    .carrouselContainer {
      width: 100%;
      height: 37rem;
      background: radial-gradient(
        circle,
        rgba(0, 201, 104, 0.712) 0%,
        rgb(0, 196, 101) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;

      .mainItens {
        width: 100%;
        height: 600px;
        display: flex;

        .mainCard {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 40%;
          height: 100%;

          .title {
            width: 100%;
            height: 25%;
            background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
            background-size: contain;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .text {
            width: 70%;
            height: 70%;
            display: flex;
            text-align: center;

            span {
              font-size: 1vw;
              font-weight: bold;
              font-family: DiscoverLight;
              color: #ffffff;
            }
          }
        }

        .carrousel {
          padding-right: 3%;
          width: 60%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;

          .card {
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .cardTitle {
              display: flex;
              align-items: center;
              justify-content: center;
              background-position: center;
              height: 10rem;
              background-size: contain;
              width: 50%;
              background-repeat: no-repeat;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .cardBody {
              margin-top: 10px;
              text-align: center;
              height: 60%;
              display: flex;
              padding-inline: 5%;
              align-content: center;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              font-family: DiscoverRegular;
              color: #ffffffb4;
              font-weight: bold;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 420px) {
  .page {
    overflow: hidden;

    .topBar {
      display: flex;
      padding-inline: 3%;
      justify-content: space-between;
      align-items: center;
      .logo {
        background-size: contain;
        width: 38vw;
        display: flex;
        align-items: center;
        background-position: center;
        justify-content: center;
      }
      .menu {
        width: 10vw;
        height: 10vw;
      }

      .sections {
        .section {
          a {
            &:hover {
            }
          }
        }
      }
    }
    .menuSections {
      top: 0vh;
      display: flex;
      flex-direction: column;
      height: 58rem;
      width: 100%;
      position: fixed;
      background-color: #04395a;
      color: white;
      justify-content: center;
      align-items: center;
      z-index: 100;
      padding-inline: 0 !important;
      gap: 10vh;
      font-family: DiscoverLight;
      .section {
        text-decoration: none;
        color: white;
        display: flex;
        a {
          text-decoration: none;
          color: white;
          font-size: 3vh;
        }
      }
    }

    .banner {
      background-image: url(../assets/img/background.png);
      background-size: 153vw 44vh;
      background-position: -100px 55px;
      background-color: #04395a;
      .inscription {
        margin-top: 22vh;
        gap: 0;
        button {
          height: 60px;
          &:hover {
          }
        }

        .about {
          height: fit-content;
          padding-top: 2rem;
          span {
            font-size: 22px;
          }
        }
      }
    }

    .aboutHack {
      height: 72vh;
      padding-top: 0;

      .divFigure {
        .figure {
          &:hover {
          }
        }
      }

      .aboutTheHack {
        padding: 0;
        width: 100%;
        justify-content: center;
        align-items: center;

        .title {
          align-items: center;
          justify-content: center;
          h3 {
            font-size: 9vw;
          }
        }

        .body {
          padding-inline: 7vw;
          .text {
            margin: 0;
            span {
              font-size: 3.7vw;
            }
          }

          .line {
            fa-icon {
            }

            span {
              font-size: 3.7vw;
            }
          }
        }
      }
    }

    #prize {
      height: 100vh;
      margin-top: 0;
      justify-content: unset;
      height: 100vh;
      .prizeTitle {
        margin-bottom: 15%;
        .title {
          .celebration {
          }
        }
      }

      .divFigures {
        flex-direction: column;
        height: 50%;
        justify-content: center;
        align-items: center;

        .leftPrize {
          background-size: 217px;
          background-position: 86px -20px;
          width: 100%;
          .man {
            top: 2.6%;
            left: 37.5%;
          }
        }

        .rightPrize {
          width: 100%;
          .subTitle {
            font-size: 6vw;
            text-align: center;
          }

          .prizes {
            width: 90vw;
            margin-inline: 0;
            &:hover {
            }

            .secondTheme {
            }

            .prize {
            }
          }
        }
      }
    }

    .moreAbout {
      background-position: -19% 1%;
      background-size: 1px;
      height: 100vh;
      .title {
        span {
          font-size: 33px;
        }
      }

      .lineItens {
        justify-content: unset;
        .item {
          margin-inline: 9%;
          &:hover {
          }

          .body {
            width: 26vw;

            .line {
              span {
                font-size: 19px;
              }

              .point {
              }
            }
          }
        }
      }

      .aboutDate {
        .cardAbout {
          width: 84%;

          &:hover {
          }

          .titleAboutDate {
            span {
            }
          }

          .bodyAboutDate {
            .local {
              span {
              }
            }

            .lineAboutDate {
              .icon {
                width: 18%;
                fa-icon {
                }
              }

              .textAboutDate {
                span {
                  font-size: 3vw;
                }
              }
            }
          }
        }
      }
    }

    .carrouselContainer {
      width: 100%;
      height: 37rem;
      background: radial-gradient(
        circle,
        rgba(0, 201, 104, 0.712) 0%,
        rgb(0, 196, 101) 100%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      padding-inline: 3%;

      .mainItens {
        width: 100%;
        height: 600px;
        display: flex;
        flex-direction: column;
        .mainCard {
          display: flex;
          flex-direction: column;
          align-items: center;
          width: 100%;
          height: 100%;

          .title {
            width: 100%;
            height: 100%;
            background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
          }

          .text {
            width: 100%;
            height: 100%;
            display: flex;
            text-align: center;

            span {
              font-size: 3.6vw;
              font-weight: bold;
              font-family: DiscoverLight;
              color: #ffffff;
            }
          }
        }

        .carrousel {
          padding-right: 3%;
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 10px;

          .card {
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 100%;

            .cardTitle {
              display: flex;
              align-items: center;
              justify-content: center;
              background-position: center;
              height: 10rem;
              background-size: contain;
              width: 50%;
              background-repeat: no-repeat;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            .cardBody {
              margin-top: 10px;
              text-align: center;
              height: 60%;
              display: flex;
              padding-inline: 5%;
              align-content: center;
              justify-content: center;
              align-items: center;
              font-size: 1.4rem;
              font-family: DiscoverRegular;
              color: #ffffffb4;
              font-weight: bold;
            }
          }
        }
      }
    }

    .goals {
      width: 100%;
      height: 80vh;
      background: rgb(4, 57, 90);
      background: radial-gradient(
        circle,
        rgba(4, 57, 90, 0.865983893557423) 0%,
        rgba(15, 85, 129, 1) 97%
      );
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      flex-direction: column;

      .titleGoals {
        width: 100%;
        height: 32%;
        margin-top: 3%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 2%;

        span {
          font-size: 40px;
          font-weight: bold;
          font-family: DiscoverRegular;
          color: #bfd1dd;
        }
      }

      .textGoals {
        width: 80%;
        height: 70%;
        line-height: 9vw;
        span {
          font-weight: bold;
          font-family: DiscoverLight;
          font-size: 19px;
          text-align: center;
        }

        .lastText {
          font-style: italic;
          color: #032d47;
        }
      }
    }

    .supporters {
      width: 100%;
      height: 80vh;
      background: rgb(0, 172, 89);
      background: radial-gradient(
        circle,
        rgba(0, 172, 89, 0.711922268907563) 0%,
        rgb(41, 127, 153) 100%
      );
      flex-direction: column;
      display: flex;
      align-items: center;

      .title {
        width: 100%;
        height: 20%;
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        margin-bottom: 1%;

        span {
          font-size: 50px;
          font-weight: bold;
          font-family: DiscoverRegular;
          color: #032d47;
        }
      }

      .divSuporters {
        width: 100%;
        height: 85%;
        align-items: center;
        justify-content: center;
        text-align: center;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        .divSuportersItens {
          width: 100%;
          height: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
          flex-wrap: wrap;

          .supporter1 {
            width: 29%;
            height: 70%;
            margin-right: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            .image {
              width: 100%;
              height: 80%;
              background-color: rgb(255, 255, 255);
              background-image: url(../assets/img/FAZU.png);
              background-repeat: no-repeat;
              border-radius: 10px;
              background-size: contain;
              background-position: center;
              transition: 400ms linear;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;

              &:hover {
                transform: translateY(-20px);
                transition: 400ms linear;
                cursor: pointer;
              }
            }
          }

          .supporter2 {
            width: 29%;
            height: 70%;
            margin-left: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;

            .image {
              width: 100%;
              height: 80%;
              background-color: rgba(236, 236, 236, 0.534);
              background-image: url(../assets/img/parque.png);
              background-repeat: no-repeat;
              border-radius: 10px;
              background-size: contain;
              background-position: center;
              transition: 400ms linear;
              box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
                rgba(0, 0, 0, 0.12) 0px -12px 30px,
                rgba(0, 0, 0, 0.12) 0px 4px 6px,
                rgba(0, 0, 0, 0.17) 0px 12px 13px,
                rgba(0, 0, 0, 0.09) 0px -3px 5px;

              &:hover {
                transform: translateY(-20px);
                transition: 400ms linear;
                cursor: pointer;
              }
            }
          }

          .supporter3 {
            width: 31%;
            height: 70%;
            margin-left: 1%;
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
            justify-content: center;
            margin-inline: 22rem;
            .image {
              width: 100vw;
              height: 80vw;
              background-color: rgba(236, 236, 236, 0.534);
              background-image: url(../assets/img/Logo-Ubyfol-Branco.png);
              background-repeat: no-repeat;
              border-radius: 10px;
              background-size: contain;
              background-position: center;
              background-size: cover;
            }
          }
        }

        .foot {
          position: relative;
          width: 100%;
          height: 50%;
          align-items: center;
          justify-content: center;
          text-align: center;
          display: flex;

          .footItens {
            width: 100%;
            height: 100%;
            border-top: 1px solid rgba(255, 255, 255, 0.411);
            display: flex;
            gap: 2%;
            padding-top: 1%;

            .uby {
              width: 40%;
              height: 25%;
              display: flex;
              align-items: center;
              justify-content: center;

              span {
                color: white;
                font-family: DiscoverRegular;
                font-size: 3.2vw;
              }
            }

            .russianCorp {
              width: 68%;
              height: 100%;
              display: flex;
              text-align: right;
              gap: 2%;
              display: none;

              .text {
                width: 50%;
                height: 26%;
                padding-right: 2%;
                display: flex;
                align-items: center;
                justify-content: center;

                span {
                  color: white;
                  font-family: DiscoverRegular;
                  font-size: 3.3vw;
                }
              }

              .figure {
                width: 36%;
                height: 26%;
                background-image: url(../assets/img/russianCorp.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: 15%;
                background-size: contain;
              }
            }

            .socialMedias {
              width: 55%;
              height: 28%;
              display: flex;
              gap: 3.3%;
              align-items: center;

              .instagram {
                width: 35%;
                height: 43%;
                background-image: url(../assets/img/instagram.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: 200ms linear;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 200ms linear;
                }
              }

              .facebook {
                width: 35%;
                height: 43%;
                background-image: url(../assets/img/facebook.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: 200ms linear;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 200ms linear;
                }
              }

              .youtube {
                width: 35%;
                height: 43%;
                background-image: url(../assets/img/youtube.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: 200ms linear;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 200ms linear;
                }
              }

              .linkedin {
                width: 35%;
                height: 43%;
                background-image: url(../assets/img/linkedin.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: 200ms linear;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 200ms linear;
                }
              }

              .gupy {
                width: 60%;
                height: 48%;
                background-image: url(../assets/img/gupy.png);
                background-repeat: no-repeat;
                background-position: center;
                background-size: contain;
                transition: 200ms linear;

                &:hover {
                  cursor: pointer;
                  transform: scale(1.1);
                  transition: 200ms linear;
                }
              }
            }
          }
        }
      }
    }
  }
}
