<div class="container">
  <div class="card" style="background-color: white;">
    <div class="content">
      <span>HUB de inovação para o agronegócio em parceria com AGTech Garage e prefeitura de Uberaba</span>
    </div>
  </div>
  <div class="card" style="background-color: white;">
    <div class="content">
      <span>Atua como operadora logística de serviços como transporte, armazenagem e assessoria</span>
    </div>
  </div>
  <div style="background-color: white; background-size: 120px;">
    <div class="content">
      <span>Atua no segmento de controle biológicos para agricultura em todo território nacional</span>
    </div>
  </div>
  <div style="background-color: white;">
    <div class="content">
      <span>A mais completa e moderna tecnologia para recobrimento de fertilizantes de solo</span>
    </div>
  </div>
</div>
